SECRET_KEY=myreallysecretkey
DEBUG=True

# Allowed hosts (comma-separated if needed)
ALLOWED_HOSTS=127.0.0.1,localhost

# Database engine and name (for SQLite)
DB_ENGINE=sqlite
DB_NAME=default.db

# These are unused with SQLite but still required by the settings structure
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_DRIVER=

# Mail (mailhog on docker)
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=1025
EMAIL_USE_TLS=False
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL="Caveman <dev@localhost>"

