# ─────── Security ───────
SECRET_KEY=django-insecure-ty+m&$p9ujjuzke6cwmbp9p$cs_h@getlsbr2%djkamw^=mgts
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# ─────── Authentication ───────
AUTH_SERVER_URL=http://127.0.0.1:8000
AUTH_MODE=HOME

# ─────── Database ───────
DB_ENGINE=sqlite
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=

CMS_DB_NAME=wagtail.db
BACK_DB_NAME=backend.db
AUTH_DB_NAME=auth.db

# ─────── JWT Settings ───────
# Signing key is SECRET_KEY
# Access/refresh token lifetimes are hardcoded in Python

# ─────── Email ───────
# Mail (mailhog on docker)
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=1025
EMAIL_USE_TLS=False
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL="Caveman <dev@localhost>"

# ─────── CORS ───────
CORS_ALLOW_ALL_ORIGINS=False
CORS_ALLOW_CREDENTIALS=True
CORS_ALLOWED_ORIGIN_REGEXES=^http://10\.\d+\.\d+\.\d+
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost,http://127.0.0.1:8000
CORS_ORIGIN_WHITELIST=http://localhost:3000,http://127.0.0.1,http://localhost
CSRF_TRUSTED_ORIGINS=http://localhost:3000